<div class="card my-4">
    <h4 class="card-header">{{heading}}</h4>
    <div class="mx-3 my-3">
        <p class="text-right"><b>Creator:</b> {{creatorUsername}}</p>
        <textarea type="text" class="form-control" id="workout-name" placeholder="Your question goes here..." [(ngModel)]="question.text"></textarea>
    <h4 class="my-3">Answer</h4>
        <textarea class="form-control" id="validationTextarea" placeholder="Your answer goes here..." [(ngModel)]="question.correctAnswer"></textarea>
    <p class="text-right my-3"><button type="button" class="btn btn-primary btn-lg" (click)="saveQuestion()">Save</button></p>
    <div *ngIf="error" class="alert alert-danger my-0">{{error}}</div>
</div>
</div>
