<h5>Pick answer:</h5>
<h6 class="text-center font-italic">Possible answers are presented by {{game.currentRound.reader.username}}.</h6>
<div *ngIf="isReaderOrGamemasterOrAdmin()">
    <h5>Repeat question:</h5>
    <h5 class="text-center">{{game.currentRound.currentQuestion.text}}</h5>
</div>
<div class="container">
    <div *ngFor="let answer of possibleAnswers; let i = index" class="text-center row my-3">
    <button type="button" class="btn btn-primary btn-lg">{{toLetters(i+1)}}</button><div class="mx-3" *ngIf="isReaderOrGamemasterOrAdmin()">{{answer.text}}</div>
    </div>
</div>
