<h5>Pick answer:</h5>
<h6 class="text-center font-italic">Possible answers are presented by {{game.currentRound.reader.username}}.</h6>
<div *ngIf="isReaderOrGamemasterOrAdmin()">
    <h5>Repeat question:</h5>
    <h5 class="text-center">{{game.currentRound.currentQuestion.text}}</h5>
</div>
<div class="container">
    <div *ngFor="let answer of possibleAnswers; let i = index" class="row my-3">
    <button type="button" class="btn btn-lg" [ngClass]="answer.own|| hasAlreadyPicked?'btn-secondary disabled':'btn-primary'" [disabled]="answer.own|| hasAlreadyPicked" (click)="pickAnswer(answer._id)">{{toLetters(i+1)}}</button><div class="mx-3 col" *ngIf="isReaderOrGamemasterOrAdmin()">{{answer.text}}</div>
    </div>
</div>
<div *ngIf="hasAlreadyPicked">
    <h5 class="text-center">Waiting for the other players to pick their answer...</h5>
</div>