<div class="card my-4">
    <h4 class="card-header">Game: {{game.name}}</h4>
    <div class="card-body">
    <div *ngIf="game.currentState == 'Register'">
        Waiting for more players to join. Game will start shortly...
        <span class="spinner-border spinner-border-sm mr-1"></span><br>
        If not, ask your game master: {{game.gameMaster.username}}
    </div>
    <div *ngIf="error" class="alert alert-danger my-0">{{error}}</div>
    <div *ngIf="authService.isAdmin || game.gameMaster._id == user._id">
        Master
    </div>
    </div>
</div>
