<div class="card my-4">
    <h4 class="card-header">Game: {{game.name}}</h4>
    <div class="card-body">

    <div *ngIf="game.currentState == 'Register'">
        Waiting for more players to join. Game will start shortly...
        <span class="spinner-border spinner-border-sm mr-1"></span><br>
        If not, ask your game master: {{game.gameMaster.username}}
    </div>

    <div *ngIf="game.currentState == 'ReadQuestion'">
        <h5>Question</h5>
        <h5 class="text-center" *ngIf="maySeeQuestion()">{{game.currentRound.currentQuestion.text}}</h5>
        <h6 class="text-center font-italic" *ngIf="!maySeeQuestion()">Question is presented by {{game.currentRound.reader.username}}.</h6>
        <h5>Your answer:</h5>
        <textarea class="form-control my-3" rows="4" style="resize: none;" [(ngModel)]="answerText"></textarea>
        <div class="text-right"><button type="button" class="btn btn-primary" (click)="sendAnswer()">Send</button></div>
    </div>

    <div *ngIf="error" class="alert alert-danger my-0">{{error}}</div>

    <h5>Log:</h5>
    <app-gamelog></app-gamelog>


    <div *ngIf="authService.isAdmin || game.gameMaster._id == user._id">
        <button type="button" class="btn btn-warning" (click)="newRound()">New Round</button>
    </div>
    </div>
</div>
