<div class="card mt-4" *ngIf="game">
    <h4 class="card-header">{{game.name}}</h4>
    <div class="card-body">
        <b>Gamemaster: </b>{{game.gameMaster.username}}<br>
        <b>Registered players: </b> {{game.players.length}}<br>
        <button type="button" class="btn btn-primary" (click)="joinGame()" *ngIf="!isPlayerRegistered">Join!</button>
        <button type="button" class="btn btn-success" routerLink="/game/{{game._id}}" *ngIf="isPlayerRegistered">Play!</button>
        <div *ngIf="error" class="alert alert-danger my-0">{{error}}</div>
    </div>
</div>
